@import 'modern-normalize';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Roboto:wght@400;500&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  padding: 0;

  &:disabled {
    cursor: auto;
  }
}

img {
  border-radius: 5px;
  display: block;
  width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: 0 0 0px 1000px inherit inset;
  -webkit-text-fill-color: #000000;

  body.dark__theme & {
        -webkit-text-fill-color: #ffffff;
    }
}