
$orange-color: #FF6B01;
$black-color: #000000;
$white-color: #FFFFFF;
$warning-text: #FF001B;
$footer-text-color: #545454;
$modal-grey-text: #8C8C8C;
$modal-number-grey-bg: #F7F7F7;
$footer-bg-color: #F7F7F7;
$pagination-arrow-bg: #F7F7F7;


$typical-cubic: cubic-bezier(0.4, 0, 0.2, 1);

$typical-transition-color: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
$typical-transition-fill: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
$typical-transition-background: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
$typical-transition-boxshadow: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
$typical-transition-transform: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
$typical-transition-opacity: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
