<section class="gallery-section">
  <button type="button" class="icon__button">
    <svg class="icon" width="20" height="20">
      <use
        class="icon__moon icon__moon--hidden"
        href="./images/sprite.svg#icon-moon-stars-fill"
      ></use>
      <use class="icon__sun" href="./images/sprite.svg#icon-sun-fill"></use>
    </svg>
  </button>
  <div class="container container--space container-library">
    <ul class="gallery gallery-library"></ul>
    <div class="box-btns">
      <button type="button" class="btn-arrow left btn-pg">
        <svg
          class="btn-arrow-svg"
          width="16"
          height="16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M12.667 8H3.333M8 12.667 3.333 8 8 3.333"
            stroke-width="1.333"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
      <ul class="first-box-btn btn-hidden">
        <li><button type="button" class="btn-first btn-pg">1</button></li>
        <li>
          <button type="button" class="btn-pg hidden-btns left">...</button>
        </li>
      </ul>
      <ul class="box-main-btnss"></ul>
      <ul class="last-box-btn btn-hidden">
        <li>
          <button type="button" class="btn-pg hidden-btns right">...</button>
        </li>
        <li>
          <button type="button" class="btn-last btn-pg"></button>
        </li>
      </ul>
      <button type="button" class="btn-arrow right btn-pg">
        <svg
          class="btn-arrow-svg"
          width="16"
          height="16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M3.333 8h9.334M8 12.667 12.667 8 8 3.333"
            stroke-width="1.333"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
    </div>
  </div>
</section>
