<section class="gallery-section">
    <button type="button" class="icon__button">
        <svg class="icon" width="20" height="20">
            <use class="icon__moon icon__moon--hidden" href="./images/sprite.svg#icon-moon-stars-fill"></use>
            <use class="icon__sun" href="./images/sprite.svg#icon-sun-fill"></use>
        </svg>
    </button>
    <div class="container container--space container-library">
        <ul class="gallery gallery-library"></ul>
        <h1 class="not-logged-gallery">Here will be your films, after you log in :)</h1>
        <h1 class="empty-lib-gallery">Here will be your films, after you add them! :)</h1>
    </div>
</section>