<header class="header header-mylib">
  <div class="header-container container">
    <div class="scroll-area"></div>
    <nav class="header-nav animate__bounceInDown">
      <a class="logo" href="/src/index.html" lang="en">
        <svg class="logo__icon" width="24" height="24">
          <use href="/src/images/sprite.svg#film"></use>
        </svg>
        <span class="logo__name">Filmoteka</span>
      </a>
      <ul class="site-nav">
        <li class="site-nav__item">
          <a href="/src/index.html" class="site-nav__link js-homeLink-text">Home</a>
        </li>
        <li class="site-nav__item">
          <a href="/src/library.html" class="site-nav__link site-nav__link--current js-myLibrary-text"
            >My library
          </a>
        </li>
        <li class="registration__container">
          <div class="registration__menu">
            <button type="button" class="signup__button js-signUp-text">Sign Up</button>
            <button type="button" class="login__button js-logIn-text">Log In</button>
          </div>
          <button type="button" class="registration__button">
            <svg class="registration__icon" width="24" height="24">
              <use href="/src/images/sprite.svg#user"></use>
            </svg>
          </button>
          <p class="user-nick"></p>
        </li>
      </ul>
    </nav>
    <div class="loader-lib-container">
      <div class="loader loader__absolute-library is-off"></div>
    </div>
      <ul class="filter-list animate__zoomIn">
        <li class="filter-list__item">
          <button type="button" class="filter-list__btn watched is-active"
          >Watched
          </button>
        </li>
        <li class="filter-list__item">
          <button type="button" class="filter-list__btn queue">Queue</button>
        </li>
      </ul>
      <include src="./partials/languageSwitch.html"></include>
    </div>
    <!-- <include src="./partials/languageSwitch.html"></include> -->
  </div>
</header>
