<header class="header header-main">
    <div class="header-container container">
        <div class="scroll-area"></div>
        <nav class="header-nav animate__bounceInDown">
            <a class="logo" href="" lang="en">
                <svg class="logo__icon" width="24" height="24">
                    <use href="/src/images/sprite.svg#film"></use>
                </svg>
                <span class="logo__name">Filmoteka</span>
            </a>
            <ul class="site-nav">
                <li class="site-nav__item">
                    <a href="/src/index.html" class="site-nav__link site-nav__link--current">Home</a>
                </li>
                <li class="site-nav__item">
                    <a href="/src/library.html" class="site-nav__link">My library</a>
                </li>
                <li class="registration__container">
                    <!-- <button type="button" class="registration__button">
                        <svg class="registration__icon" width="24" height="24">
                            <use href="/src/images/sprite.svg#user"></use>
                        </svg>
                    </button> -->
                    <div class="registration__menu">
                        <button type="button" class="signup__button">Sign Up</button>
                        <button type="button" class="login__button">Log In</button>
                    </div>
                    <button type="button" class="registration__button">
                        <svg class="registration__icon" width="24" height="24">
                            <use href="/src/images/sprite.svg#user"></use>
                        </svg>
                    </button>
                    <p class="user-nick"></p>
                </li>
            </ul>
        </nav>
        <form class="search-form animate__zoomIn" id="search-form">
            <div class="loader loader__absolute-top is-off"></div>
            <input 
            class="search-form__input"
            type="text"
            name="query"
            
            placeholder="Movie search"
            />
            <button type="submit" class="search-form__btn">
                <svg class="search-form__btn-icon" width="12" height="12">
                    <use href="/src/images/sprite.svg#search"></use>
                </svg>
            </button>
        </form>
        <p class="warning-notification"></p>
        <!-- <div class="trend-time-switch animate__zoomIn">
            <button class="time-switch-day">day</button>
            <button class="time-switch-week">week</button>
        </div>
        <div class="language-switch animate__zoomIn">
            <button class="switch-EN">en</button>
            <button class="switch-UA">ua</button>
        </div>    -->
        <include src="./partials/trendTime.html"></include>
        <include src="./partials/languageSwitch.html"></include>
    </div> 
</header>
