<div class="backdrop">
    <div class="modal">
        <button class="modal__button" type="button">
        <svg class="modal__icon" width="30" height="30">
                <use href="./images/sprite.svg#icon-close"></use>
            </svg>
        </button>
    <div class="modal-info__container">
        <img src=" " alt="movie" class="modal-info__img">
    <div class="modal-info">  
        <h2 class="modal-info__movie-name">Movie-name</h2>
            <ul class="modal-info__list">
                <li class="modal-info__item">
                    <p class="modal-info__title">Vote / Votes<p>
                    <div class="modal-info__content">
                        <span class="modal-info__content-color"> 10 </span> / 100 
                    </div>
                </li>
                <li class="modal-info__item">
                    <p class="modal-info__title">Popularity</p>
                    <div class="modal-info__content">100</div>
                </li>
                <li class="modal-info__item">
                    <p class="modal-info__title">Original Title</p>
                    <div class="modal-info__content modal-info__content--text modal-info__content--upper">Movie-name</div>
                </li>
                <li class="modal-info__item">
                    <p class="modal-info__title">Genre</p>
                    <div class="modal-info__content modal-info__content--text">Genre</div>
                </li>
            </ul>
                <p class="modal-info__article-title">about</p>
                <p class="modal-info__article">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus suscipit expedita, velit, repellendus necessitatibus debitis neque unde consequatur deserunt deleniti iusto laboriosam animi fugit earum dolorem voluptate tempore magni quos nisi aut quo recusandae hic harum quasi? Esse quam odit, quaerat non hic iusto facilis dignissimos, doloribus debitis ullam explicabo?</p>
        <div class="container-btn">
            <button type="button" class="btn">add to Watched</button>
            <button type="button" class="btn">add to queue</button>
        </div>
    </div>      
    </div>  
   </div>
</div>