<div class="backdrop-team is-hidden">
    <div class="modal-team">
        <button class="modal-team__button" type="button">
            <svg class="modal-team__icon" width="30" height="30">
                <use href="./images/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <div class="modal-team__container">
            <ul class="team__list">
                <li class="team__item">
                    <div class="team__wrapper">
                        <img class="team__img" src="https://ca.slack-edge.com/T03ANNS1UBS-U03KXCM677Z-46aad6e7193c-512"
                            alt="Oleksandr Sainchuk">
                    </div>
                    <p class="team__name">Oleksandr Sainchuk</p>
                    <p class="team__role">Team lead</p>
                </li>
                <li class="team__item">
                    <div class="team__wrapper">
                        <img class="team__img" src="./images/andrii.jpg" alt="Andrii Kurka">
                    </div>
                    <p class="team__name">Andrii Kurka</p>
                    <p class="team__role">Scrum master</p>
                </li>
                <li class="team__item">
                    <div class="team__wrapper">
                        <img class="team__img" src="./images/oleksandr.jpg" alt="Oleksandr Tikka">
                    </div>
                    <p class="team__name">Oleksandr Tikka</p>
                    <p class="team__role">Developer</p>
                </li>
                <li class="team__item">
                    <div class="team__wrapper">
                        <img class="team__img" src="https://ca.slack-edge.com/T03ANNS1UBS-U03AHHL83HV-c974944bd586-512"
                            alt="Svitlana Velychko">
                    </div>
                    <p class="team__name">Svitlana Velychko</p>
                    <p class="team__role">Developer</p>
                </li>
                <li class="team__item">
                    <div class="team__wrapper">
                        <img class="team__img" src="https://ca.slack-edge.com/T03ANNS1UBS-U03AH28DMGE-63548e579e65-512"
                            alt="Roman Tsiukh">
                    </div>
                    <p class="team__name">Roman Tsiukh</p>
                    <p class="team__role">Developer</p>
                </li>
                <li class="team__item">
                    <div class="team__wrapper">
                        <img class="team__img" src="https://passport-photo.online/assets/merged/4DxnP8jh3rOBcxc4zFNc.webp"
                            alt="Serhii Boiko">
                    </div>
                    <p class="team__name">Serhii Boiko</p>
                    <p class="team__role">Developer</p>
                </li>
                <li class="team__item">
                    <div class="team__wrapper">
                        <img class="team__img" src="https://passport-photo.online/assets/merged/4DxnP8jh3rOBcxc4zFNc.webp"
                            alt="Kateryna Konovalova">
                    </div>
                    <p class="team__name">Kateryna Konovalova</p>
                    <p class="team__role">Developer</p>
                </li>
                <li class="team__item">
                    <div class="team__wrapper">
                        <img class="team__img" src="https://passport-photo.online/assets/merged/4DxnP8jh3rOBcxc4zFNc.webp"
                            alt="Vladyslav Lata">
                    </div>
                    <p class="team__name">Vladyslav Lata</p>
                    <p class="team__role">Developer</p>
                </li>
                <li class="team__item">
                    <div class="team__wrapper">
                        <img class="team__img" src="https://passport-photo.online/assets/merged/4DxnP8jh3rOBcxc4zFNc.webp"
                            alt="Evhenyi">
                    </div>
                    <p class="team__name">Evhenyi</p>
                    <p class="team__role">Developer</p>
                </li>
                <li class="team__item">
                    <div class="team__wrapper">
                        <img class="team__img" src="https://passport-photo.online/assets/merged/4DxnP8jh3rOBcxc4zFNc.webp"
                            alt="Olena">
                    </div>
                    <p class="team__name">Olena</p>
                    <p class="team__role">Developer</p>
                </li>
                <li class="team__item">
                    <div class="team__wrapper">
                        <img class="team__img" src="https://passport-photo.online/assets/merged/4DxnP8jh3rOBcxc4zFNc.webp"
                            alt="Natalia Malynovska">
                    </div>
                    <p class="team__name">Natalia Malynovska</p>
                    <p class="team__role">Developer</p>
                </li>
                <li class="team__item">
                    <div class="team__wrapper">
                        <img class="team__img" src="https://ca.slack-edge.com/T03ANNS1UBS-U03PJ16BLQ2-13fdebbd13dc-512"
                            alt="Alyona Garnyk">
                    </div>
                    <p class="team__name">Alyona Garnyk</p>
                    <p class="team__role">Mentor</p>
                </li>
            </ul>
        </div>
        
    </div>
</div>