<div class="sign-up__overlay sign-up__overlay--hidden">
    <div class="sign-up-modal">
        <button class="close__button" type="button">
            <svg class="modal__icon" width="30" height="30">
                <use href="./images/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <form class="sign-up__form">
            <h3 class="mb-3">Sign Up</h3>
            <!-- <input type="text" placeholder="Fullname" id="nameInp" name="nameInp" class="form-control mb-3"> -->
            <input type="email" placeholder="Email" id="signup-email" name="signup-email" class="form-control mb-3">
            <!-- <input type="text" placeholder="Username" id="userInp" name="userInp" class="form-control mb-3"> -->
            <input type="password" placeholder="Password" id="signup-password" name="signup-password"
                class="form-control mb-3">
            <button type="button" id="signup__button" class="btn btn-outline-primary mb-3 w-100">Sign Up</button>
            <a href="" id="switch-form__link-sign-up" class="badge badge-secondary py-1 w-100">Already have an
                account?</a>
        </form>
    </div>
</div>