.footer {
    background-color: $footer-bg-color;
    color: $footer-text-color;
    padding-top: 29px;
    padding-bottom: 29px;
    // margin-top: 40px;

    @include mq(tablet) {
        padding-top: 30px;
        padding-bottom: 30px;
        display: flex;
        align-items: center;
        // margin-top: 60px;
      };

    @include mq(desktop) {
        padding-bottom: 28px;
      };
}

.footer-text {
    @include mq(tablet) {
        @include center;
      }
}

.footer-text__link {
    color: $footer-text-color;
    text-decoration:underline;
    margin-left: 4px;
};

.footer-text__up {
    @include center;
    @include fonts;
    letter-spacing: normal;

    @include mq(tablet) {
        font-size: 16px;;
      }
}

.footer-text__up:nth-child(2){
    margin-top: 10px;

    @include mq(tablet) {
        margin-left: 4px;
        margin-right: 0px;
        margin-top: 0px;
      } 
}

.footer-text__icon {
  margin: 0 10px;
}

.animate__heartBeat {
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: $typical-cubic;
}

.wrap {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}