.container--space {
  padding-top: 20px;
  padding-bottom: 40px;

  @include mq(tablet) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  row-gap: 20px;

  @media screen and (min-width: 320px) {
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    gap: 32px;
  }

  @media screen and (min-width: 1280px) {
    column-gap: 16px;
  }
}

.card {
  width: 100%;
  @media screen and (min-width: 320px) {
    min-height: 438px;
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 32px) / 2);
    min-height: 495px;
  }

  @media screen and (min-width: 1280px) {
    flex-basis: calc((100% - 16px * 2) / 3);
    min-height: 634px;
  }
}
.card__img {
  margin-bottom: 8px;
  @media screen and (min-width: 320px) {
    height: 398px;
  }

  @media screen and (min-width: 768px) {
    height: 455px;
  }

  @media screen and (min-width: 1280px) {
    height: 574px;
  }
}

.card__link {
  display: block;
  border-radius: 5px;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    transform: scale(1.03);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
}

.card__name,
.card__description {
  padding-left: 5px;
}

.card__name {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  @include mq(desktop) {
    font-size: 18;
  }
}

.card__description {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  padding-bottom: 5px;

  @include mq(desktop) {
    font-size: 16;
  }
}

.card__name {
  color: $black-color;

  body.dark__theme & {
    color: $white-color;
  }
}

.card__description {
  color: $orange-color;
}

.card__vote {
  padding: 2px 10px;
  margin-left: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  border-radius: 5px;
  color: $white-color;
  background-color: $orange-color;

  @include mq(desktop) {
    font-size: 16;
  }
}
