.language-switch {
  position: absolute;
  top: 175px;
  right: 20px;

  @include mq(tablet-only) {
    top: 165px;
    right: 32px;
  }

  @include mq(desktop) {
    top: 160px;
    right: 32px;
  }
}

.switch-EN {
  margin-right: 10px;
}

.switch-EN,
.switch-UA {
  width: 45px;
  height: 23px;
  opacity: 0.7;
  border-radius: 5px;
  padding: 2px;
  border: none;
  transition: color 250ms $typical-cubic, background-color 250ms $typical-cubic,
    transform 250ms $typical-cubic, opacity 250ms $typical-cubic;

  &:hover,
  &:focus {
    opacity: 1;
  }
}

button:disabled {
  color: $white-color;
  background-color: $orange-color;
  transform: scale(1.3);

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}
