.box-btns {
  margin-top: 40px;
  display: flex;
  justify-content: center;

  @include mq(tablet) {
    margin-top: 60px;
  }
}

.btn-pg {
  width: 40px;
  height: 40px;
  border: none;
background-color: inherit;
text-align: center;
border-radius: 5px;
}

.btn-pg.hidden-btns {

 @include center;
align-items: baseline;

}

.first-box-btn,
.last-box-btn,
.box-main-btnss {
  display: flex;
flex-wrap: wrap;
}

.btn-hidden {
  display: none;
  
}

.btn-current-pages {
  background-color: $orange-color;
}

.btn-pg span {
@include center;
height: 30;

}