.box-btns {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  @include mq(tablet) {
    margin-top: 60px;
  }
}

.btn-pg {
  color: $black-color;
  width: 40px;
  height: 40px;
  border: none;
  background-color: inherit;
  text-align: center;
  border-radius: 5px;
  transition: $typical-transition-background , $typical-transition-color;

// &:not(:last-child) {
//   margin-right: 1px;
// }

  &:hover,
  &:focus {
        background-color: $orange-color;
        color: $white-color;
  }


  body.dark__theme & {
    color: $white-color;
  }
}

.btn-arrow {
  background-color: $modal-number-grey-bg;
  @include center;

  &.left {
    margin-right: 1px;
  }

  &:hover,
  &:focus {
    background-color: $orange-color;
  }



  body.dark__theme & {
    background-color: $footer-text-color;

    &:hover,
    &:focus {
      background-color: $orange-color;
    }
  }
}

.btn-arrow-svg {
  
  stroke: #000000;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);


  .btn-arrow:hover &,
  .btn-arrow:focus & {
    stroke: #ffffff;
  }

  body.dark__theme & {
    stroke: #ffffff;
  }
}

.first-box-btn,
.last-box-btn,
.box-main-btnss {
  margin: 0 1px;
  display: flex;
  flex-wrap: wrap;
}

.btn-hidden {
  display: none;
}

.hidden-btns {
  padding-bottom: 10px;
}

.box-main-btnss li:not(:last-child) {
  margin-right: 2px;
}

.first-box-btn li:first-child,
.last-box-btn li:first-child {
margin-right: 2px;
}

.btn-current-pages {
  background-color: $orange-color;
  color: $white-color;
}