.message {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  position: relative;
  z-index: -1;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4;
  color: $orange-color;

  @media screen and (min-width: 768px) {
    font-size: 24px;
  }

}

.message--hidden {
  @extend %visually-hidden;
}
