.log-in__overlay {
    @extend %auth-backdrop;
}

.log-in__overlay--hidden {
    @extend %auth-backdrop-hidden;
}

.log-in-modal {
    @extend %auth-modal;
}

.form-check {
    display: flex;
    align-items: center;
}

.close-login__button {
    @extend .modal__button;
}

.login__form--hidden {
    display: none;
}

.logout-modal--hidden {
    display: none;
}