body.modal-open {
  overflow: hidden;
}

.backdrop {
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  top: 0;
  left: 0;
  // bottom: 0;
  // right: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background: rgb(0,0,0, 0.25); 
  // background-image: linear-gradient(rgb(0,0,0, 0.2),rgb(0,0,0, 0.9)), url('https://yt3.ggpht.com/AAKF_677TIvjFz_9xFF0R6PgiVd0kRpEtY6APSxSDRP65nXg8hkn9NFsz2bRd9_Z37DJ9D_b=s900-c-k-c0x00ffffff-no-rj');
  // background-repeat: no-repeat;
  // background-size: cover;
  transition: opacity 500ms,visibility 500ms;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  &:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgb(0,0,0, 0.3),rgb(0,0,0, 0.7)),
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.4);
}
.modal {
  position: relative;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 280px;
  height: 100%;
  padding: 48px 20px 40px;
  border-radius: 5px;
  transform: translate(-50%, -50%) scale(1.0);
  transition: transform 500ms;
  background: $white-color;
  animation: animate75 3000ms infinite 1000ms;

  @media screen and (min-width: 768px) {
    width: 704px;
    height: 552px;
    padding: 48px 70px 40px 36px;
  }
  @media screen and (min-width: 1280px) {
    width: 806px;
    height: 558px;
    padding: 40px 12px;
    }  
      body.dark__theme & {
        background-color: #303030;
      }
}
    
  .modal__button {
    background-color: transparent;
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center; 
    stroke: $black-color;
    width: 30px;
    height: 30px;
    border: none;

  body.dark__theme & {
    stroke: $white-color;
    }
    &:hover {
      border-radius: 5px;
      border: 1px solid $black-color;
    }

  }

.modal-info__container {
  height: 100%;
  overflow: auto;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.modal-info__img {
  width: 240px;
  height: 357px;

  @media screen and (min-width: 768px) {
    width: 264px;
    height: 373.55px;
  }
  @media screen and (min-width: 1280px) {
    width: 375px;
    height: 478px;
  }
}
.modal-info {
  margin-top: 20px;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    margin-top: 0px;
    margin-left: 68px;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 16px;
  }
}

.modal-info__movie-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  color: $black-color;
  text-transform: uppercase;
  text-align: start;

  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.16;
  }

  body.dark__theme & {
    color: $white-color;
  }
}
.modal-info__list {
  margin-top: 20px;
}
.modal-info__item {
  height: 24px;
}

.modal-info__title {
  width: 108px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-align: start;
  color: $modal-grey-text;
  @media screen and (min-width: 1280px) {
    width: 152px;
  }  
  body.dark__theme & {
    color: rgb(216, 213, 213);
  }
}

.modal-info__content {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  text-align: start;
  color: $black-color;


  body.dark__theme & {
    color: $white-color;
  }
}

.modal-info__content--text {
  line-height: 1.33;
}

.modal-info__content-color {
  padding: 2px 8px;
  border-radius: 5px;
  margin-right: 3px;
  color: $white-color;
  background: $orange-color;
}

.modal-info__content-color--votes {
  border-radius: 5px;
  color: $black-color;
  background-color: $modal-number-grey-bg;
}

.modal-info__article-title {
  margin-top: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  display: flex;
  align-items: center;
  text-transform: uppercase;

  color: $black-color;

  body.dark__theme & {
    color: $white-color;
  }
}
.modal-info__article {
  margin-top: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  text-align: start;

  color: $black-color;

  body.dark__theme & {
    color: $white-color;
  }
}
.container-btn {
  margin-top: 20px;
  display: flex;

  @include mq(desktop) {
    padding-left: 8px;
  }
  
}
.btn {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  text-transform: uppercase;
  color: $black-color;
  border: 1px solid $black-color;
  border-radius: 5px;
  width: 110px;
  height: 44px;
  padding: 6px;
  transition: background-color 250ms $typical-cubic,
      color 250ms $typical-cubic,
      border 250ms $typical-cubic;

  &:first-child {
    // color: $white-color;
    // background-color: $orange-color;
    // border: 1px solid $orange-color;
    margin-right: 20px;
  }
  @media screen and (min-width: 768px) {
    width: 125.03px;
    height: 44px;
    &:first-child {
      margin-right: 15px;
    }
  }
  @media screen and (min-width: 1280px) {
    width: 136px;
    height: 44px;
  }
}
.btn:hover,
.btn:focus {
  color: $white-color;
  background-color: $orange-color;
  border: 1px solid $orange-color;
}
