.backdrop-team {
    position: fixed;
    opacity: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background: rgb(0, 0, 0, 0.25);

    padding-top: 20px;
    padding-bottom: 20px;    
    transition: opacity 500ms, visibility 500ms;

    &.is-hidden {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }
}
.backdrop-team.is-hidden .modal-team {
     transform: translate(-50%, -50%) scale(0.4);
}

.modal-team {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.0);
    transition: transform 500ms;
    border-radius: 5px;
    background: $white-color;
       
    overflow-y: auto;
        
    padding: 30px 30px;
        @media screen and (max-width: 1279px) {
            height: 100%;
        }

        @media screen and (min-width: 320px) {
            width: 320px;
        }
    
        @media screen and (min-width: 768px) {
            padding-left: 32;
            padding-right: 32px;
            width: 768px;
        }
    
        @media screen and (min-width: 1280px) {
            width: 1280px;
        }

    body.dark__theme & {
        background-color: #303030;
    }
        -ms-overflow-style: none;
        scrollbar-width: none;
        }
    
        .modal-team::-webkit-scrollbar {
            width: 0;
            height: 0;
        }


.modal-team__container {           
    height: 100%;    
    overflow: auto;    
    -ms-overflow-style: none;
        scrollbar-width: none;
}
.modal-team__container::-webkit-scrollbar {
    width: 0;
    height: 0;
}



.modal-team__button {
    background-color: transparent;
    position: absolute;
    top: 8px;
    right: 8px;   
    align-items: center;
    width: 30px;
    height: 30px;
    border: none;
    order: 1;
}

.modal-team__icon {
    stroke: $black-color;

    body.dark__theme & {
        stroke: $white-color;
    }
}

.team__list {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    row-gap: 16px;
    width: 100%;
    @media screen and (min-width: 320px) {
            gap: 16px;
        }
        @media screen and (min-width: 768px) {
            gap: 16px;
        }
    
        @media screen and (min-width: 1280px) {
            column-gap: 10px;
        }
    
}

.team__item {
    display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1),
                box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            transform: scale(1.02);
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25), 0 3px 3px rgba(0, 0, 0, 0.22);
    
            body.dark__theme & {
                box-shadow: 0 5px 5px rgba(255, 255, 255, 0.25),
                    0 3px 3px rgba(255, 255, 255, 0.22);
            }
        }
        border-radius: 5px;

    width: 100%;
    @media screen and (min-width: 320px) {
        flex-basis: calc((100% - 16px) / 2);
    }
    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 16px * 3) / 4);
    }
    @media screen and (min-width: 1280px) {
        flex-basis: calc((100% - 10px * 5) / 6);        
    }
}

.team__wrapper {
    position: relative;
        overflow: hidden;
    margin-bottom: 10px;
@media screen and (min-width: 320px) {
        height: 150px;
        
    }

    @media screen and (min-width: 768px) {
        
        height: 200px;
    }

    @media screen and (min-width: 1280px) {
        
        height: 250px;
    }
}

.team__img {
    height: 100%;
}

.team__overlay {
    position: absolute;   
    
    top: 0;
    left: 0;

    background-color: $orange-color;
    opacity: 0.5;
    width: 100%;
    height: 100%;   

    transition: transform;
    transform: translate(0, 101%);
    transition-duration: 250ms;
    transition-timing-function: $typical-cubic;

    .team__wrapper:hover &,
    .team__wrapper:focus & {
        transform: translate(0, 0);
        border-radius: 5px;
    }
}

.team__link {
    
    display: flex;
        align-items: center;
        justify-content: space-between;
}

.overlay__img {
    position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1.0);
    display: flex;
    justify-content: space-between;
    width: 70%;
    
}

.team__name, .team__role {
    text-align: center;
    line-height: 1.35;

    body.dark__theme & {
        color: $white-color;
    }
       
}

.team__name{
    
    
        @media screen and (min-width: 320px) {
            font-size: 10px;
    
        }
    
        @media screen and (min-width: 768px) {
    
            font-size: 14px;
        }
    
        @media screen and (min-width: 1280px) {
    
            font-size: 18px;
            
        }
}

.team__role {


    @media screen and (min-width: 320px) {
        font-size: 12px;

    }

    @media screen and (min-width: 768px) {

        font-size: 16px;
    }

    @media screen and (min-width: 1280px) {

        font-size: 19px;

    }
}