.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;

    &.is-hidden {
      opacity: 0;
      pointer-events: none;
    }
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $white-color;  
    min-width: 280px;
    height: 940px;
    padding: 48px 20px 40px; 
 @media screen and (min-width: 768px) { 
    width: 704px;
    height: 552px;
    padding: 48px 70px 40px 36px;
    } 
@media screen and (min-width: 1280px) {   
    width: 806px;
    height: 558px;
    padding: 40px 12px;
    }  

    body.dark__theme & {
      background-color: #303030;
    }
}
    
    .modal__button {
        background-color: transparent;
        position: absolute;
        top: 8px;
        right: 8px;

        stroke: $black-color;
       
        /* display: inline-flex; */
        align-items: center;
        width: 30px;
        height: 30px;
        border: none;

        body.dark__theme & {
          stroke: $white-color;
        }
      }
    .modal-info__container {
       @media screen and (min-width: 768px) {  
        display: flex;
        }  
    }
     .modal-info__img {
        width: 240px;
        height: 357px;  
    @media screen and (min-width: 768px) { 
        width: 264px;
        height: 373.55px;
         } 
      @media screen and (min-width: 1280px) {   
        width: 375px;
        height: 478px;
        }  
      }
      .modal-info {
      margin-top: 20px;
        margin-bottom: 20px; 
    @media screen and (min-width: 768px) { 
      margin-top: 0px;
      margin-left: 68px;
         }
      @media screen and (min-width: 1280px) {   
       margin-left: 16px;
        }   
      }
    
    .modal-info__movie-name {
      font-weight: 500;
      font-size: 20px;
      line-height: 1.15; 
      color: $black-color;
      text-transform: uppercase;
      text-align: left;
    
       @media screen and (min-width: 1280px) {    
      font-size: 30px;
      line-height: 1.16;
        }  

        body.dark__theme & {
          color: $white-color;
        }
    }  
    .modal-info__list {
      margin-top: 20px;
    }
    
    .modal-info__item {
      display: flex; 
      margin-top: 8px;
      }
    .modal-info__title {
      flex-basis: 40%;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 1.33;
      color: $modal-grey-text;

      body.dark__theme & {
        color: rgb(216, 213, 213);
      }

      @include mq(desktop) {
        flex-basis: 34%;
      }
    }
    .modal-info__content { 
      flex-grow: 1; 
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 1.16;
      color: $black-color;

      body.dark__theme & {
        color: $white-color;
      }
    }
    .modal-info__content--text {
      line-height: 1.33;
    }
    .modal-info__content--upper {
      text-transform: uppercase;
    }
    .modal-info__content-color {
      width: 36px;
      height: 16px;
      background: $orange-color;
      border-radius: 5px;
    }
    
    .modal-info__article-title {
      margin-top: 20px;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 1.33;
    
    
      display: flex;
      align-items: center;
      text-transform: uppercase;
    
      color: $black-color;

      body.dark__theme & {
          color: $white-color;
        }
    }
    .modal-info__article{
      margin-top: 8px;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 1.67;
      text-align: start;
    
      color: $black-color;

      body.dark__theme & {
          color: $white-color;
        }
    }
    .container-btn {
      margin-top: 20px;
      display: flex;
      // justify-content: space-between
    }
    .btn {
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 1.33;
      text-align: center;
      text-transform: uppercase;
      color: $black-color;
      border: 1px solid $black-color;
      border-radius: 5px;
      width: 110px;
      height: 44px;
      &:first-child {
        color: $white-color;
      background-color: $orange-color;
      border: 1px solid $orange-color;
        margin-right: 20px;
      }
    @media screen and (min-width: 768px) {  
      width: 125.03px;
      height: 44px;
      &:first-child {
        margin-right: 15px;
      }
        }
      @media screen and (min-width: 1280px) {   
      width: 136px;
      height: 44px;
        }   
    }
    .btn:hover, .btn:hover {
      color: $white-color;
      background-color: $orange-color;
      border: 1px solid $orange-color;
    }
    