.pagination-page {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination {
  background-color: transparent;
}

.pagination ul {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 8px;
}

.pagination ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  list-style: none;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease;
}

.pagination ul li.numb {
  list-style: none;
  height: 40px;
  width: 40px;
  margin: 0;
  border-radius: 5px;
}

.pagination ul li.numb.first {
  margin: 0px 3px 0 -5px;
}

.pagination ul li.numb.last {
  margin: 0px -5px 0 3px;
}

.pagination ul li.dots {
  font-size: 12px;
  cursor: default;
}

.pagination ul li.btn {
  height: 40px;
  width: 40px;
  border-radius: 5px;
}

.pagination li.active {
  color: #fff;
  background: #ff6b08;
}

.pagination ul li.numb:hover,
.pagination ul li:first-child:hover,
.pagination ul li:last-child:hover {
  background: #f7f7f7;
}