.pagination-page {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;

  @include mq(tablet) {
    padding-bottom: 60px;
  }
}
.pagination-container {
  background-color: transparent;
}

.pagination-list {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 8px;
}

.pagination-list li {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  list-style: none;
  font-size: 16px;
  font-weight: 500;
  // cursor: pointer;
  user-select: none;
  transition: all 0.3s ease;
}

// .pagination-list li.numb {
//   list-style: none;
//   height: 40px;
//   width: 40px;
//   margin: 0;
//   border-radius: 5px;
// }

.pagination-list li {
  list-style: none;
  color: $black-color;
  height: 40px;
  width: 40px;
  margin: 0;
  border-radius: 5px;

  body.dark__theme & {
    color: $white-color;
  }
}

.pagination-list button {
  height: 40px;
  width: 40px;
  padding: 0;
  color: inherit;
  background-color: inherit;
  border: inherit;
  border-radius: 5px;
}

.pagination-list button:disabled {
  opacity: 1;
  transform: scale(1);
}

.pagination-list li.numb.first {
  margin: 0px 3px 0 -5px;
}

.pagination-list li.numb.last {
  margin: 0px -5px 0 3px;
}

.pagination-list li.dots button {
  font-size: 12px;
  cursor: default;
}

// .pagination-list li.btn-pagination {
//   height: 40px;
//   width: 40px;
//   border-radius: 5px;
// }

.pagination-list li.active button {
  color: #fff;
  background: #ff6b08;
  cursor: default;
}

.pagination-list li:hover,
.pagination-list li:focus {
  color: #fff;
  background: #ff6b08;
}

// .pagination-list li.numb:hover,
// .pagination-list li:first-child:hover,
// .pagination-list li:last-child:hover {
//   background: #f7f7f7;
// }
