.sign-up__overlay {
    @extend %auth-backdrop;
}

.sign-up__overlay--hidden {
    @extend %auth-backdrop-hidden;

    & .sign-up-modal {
        transform: translate(-50%, -50%) scale(0.4);
    }
}

.sign-up-modal {
    @extend %auth-modal;
}

.close__button {
    @extend .modal__button;

    body.dark__theme & {
        stroke: $white-color;
    }
}

.sign-up__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.sign-up__title {
    margin-top: 20px;
    font-size: 30px;
}

.sign-up__email {
    background-color: inherit;
    color: $black-color;
    margin-top: 20px;
    padding: 5px;
    height: 40px;
    width: 80%;

    border-radius: 5px;

    border: 1px solid $orange-color;

    outline: none;

    body.dark__theme & {
        color: $white-color;
    }
}

.sign-up__password {
    background-color: inherit;
    color: $black-color;
    margin-top: 20px;
    padding: 5px;
    height: 40px;
    width: 80%;
    border-radius: 5px;

    border: 1px solid $orange-color;

    outline: none;

    body.dark__theme & {
            color: $white-color;
        }
}

.sign-up__button {
font-weight: 500;
    font-size: 20px;
    line-height: 1.33;
    text-align: center;
    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;

    color: $black-color;
    border: 1px solid $black-color;
    border-radius: 5px;
    width: 80%;
    height: 44px;
    padding: 6px;
    margin-top: 20px;

    transition: $typical-transition-transform;

    color: $white-color;
    background-color: $orange-color;
    border: 1px solid $orange-color;
    @media screen and (min-width: 768px) {
    width: 80%;
    height: 44px;
}
@media screen and (min-width: 1280px) {
    width: 80%;
    height: 44px;
}

&:hover, &:focus {
    transform: scale(1.1);
}
}

.sign-up__link {
    color: rgb(142, 144, 135);
    font-size: 14px;
    margin-top: 20px;
    transition: $typical-transition-color;

    &:hover {
        color: $orange-color;
    }

    @include mq(tablet) {
        font-size: 16px;
    }
}