.trend-time-switch {
  // display: flex;
  position: absolute;
  top: 110px;
  left: 200px;
}

.trend-time-label {
  text-align: center;
  // padding-left: 8px;
  margin-bottom: 10px;
  color: $white-color;
}

.time-switch-day {
  margin-right: 10px;
}

.time-switch-day,
.time-switch-week {
  opacity: 0.7;
  border-radius: 5px;
  padding: 2px;
  border: none;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    transform: scale(1.3);
  }
}
