.trend-time-switch {
  position: absolute;
  top: 175px;
  left: 20px;
    
  @include mq(tablet-only) {
    top: 165px;
    left: 32px;
  }
    
  @include mq(desktop) {
    top: 160px;
    left: 32px;
  }
}

.time-switch-day {
  margin-right: 10px;
}

.time-switch-day,
.time-switch-week {
  width: 45px;
  height: 23px;
  opacity: 0.7;
  border-radius: 5px;
  padding: 2px;
  border: none;
  transition: color 250ms $typical-cubic,
    background-color 250ms $typical-cubic,
    transform 250ms $typical-cubic,
    opacity 250ms $typical-cubic;
  
    &:hover,
    &:focus {
      opacity: 1;
    }
}
